<!DOCTYPE html>
<html>
  <head>
    <title>Trial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
        <h1>ロゴ</h1>
      </div>
      <div class="header-right">
        <ul class="navis">
          <li class="mypage">Mypage</li>
          <li class="search">Search</li>
          <li class="about">About</li>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>Trial all-right-reserved.</p>
    </footer>
  </body>
</html>
